@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: "sans-serif";
  color: #000000;
}

#urlform {
  margin:5px;
  width: 80%;
  display: block;
}

button {
  font-size: 20px;
  min-width: 200px;
}

canvas {
  /*display: block;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
